.platform {
    position: absolute;
    border-radius: 50%;
    transition: .3s;
    transform: rotateX(45deg);
}

.platform0 {
    box-shadow: 0 0 10px 0 #8c8c8c;
    border: 2px solid #ffffff;
    transition: .2s;
}


.platform1 {
    cursor: pointer;
    z-index: 0;
    box-shadow: 0 20px 5px 0.2px rgb(186, 186, 186)
    , 0 10px 0 0 rgb(198, 198, 198)
    , inset 0 1px 2px 1px #ffffff;
}
.platform1::before {
    content: '作者qq:1247944718';
    display: block;
    position: absolute;
    top: 20px;
    left: 0px;
    width: 70px;
    height: 40px;
    font-size: 10px;
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: .3s;
}

.platform1:hover::before{
    transition: .3s;
    opacity: 1;
}

.person {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 70px;
    height: 60px;
    background-size: cover;
    background-position: center;
    background-image: url('https://gd-hbimg.huaban.com/9ba42b1dfd8f1975e0de3b9dd135f15a242d24567fa6-YtW78h');
    cursor: pointer;
}

@keyframes open {
    0% {
        top: 20px;
    }

    100% {
        top: 320px;
    }

}

.person_on {
    animation: open .4s ease-out forwards;
}

.person_on:active {
    transform: scaleX(1.8) scaleY(1.1) translateY(-5px) translateX(5px);
    transition: 2.5s;
}


@keyframes matkchange {
    0% {
        opacity: .8;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}




