* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

@font-face {
    font-family: myfont;
    src: url('../font/myfont.woff');
}

body {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.732), rgba(26, 255, 152, 0.216));
    font-family: myfont;
    color: #2c2c2c;
}

.game_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: transparent;
    background-size: 200% 200%;
    background-position: 0% 0%;
    animation: gradient 10s ease infinite;
    background-image: linear-gradient(to bottom right, #ffffff, #2623f0, white, #d00000, #000000);
    background-clip: text;
    -webkit-background-clip: text;
    transition: .3s;
}

.game_content:hover {
    transition: .3s;
    filter: blur(5px);
    animation-play-state: paused;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.game_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 95vw;
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    color: #2c2c2c;
    border-radius: 10px;
    box-shadow: 0 0 10px #999;
    transition: .5s;
    z-index: 1;
}



/* 小按钮 */
.dark_mode_on {
    transition: .5s;
    background-color: #2c2c2c;
    color: #f3f3f3;
}

.controls_btn {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    background-color: rgb(239, 188, 59);
    border: 2px dashed #6f6f6f;
    border-radius: 5px 20px 3px 5px;
    cursor: pointer;
    transition: .5s;
    z-index: 999;
}

.controls_btn_off {
    transition: .5s;
    border-radius: 5px 3px 5px 20px;
}

.controls {
    display: none;
    list-style: none;
    position: absolute;
    top: 25px;
    right: 3px;
    width: 80px;
    height: 0;
    background-image: linear-gradient(120deg, rgb(0, 45, 194), rgb(0, 129, 242), rgba(0, 0, 255, 0) 100%)
    , linear-gradient(20deg, rgb(58, 225, 255), rgb(107, 218, 255), rgba(255, 0, 0, 0) 80%);
    border-radius: 5px;
    box-shadow: 0 0 5px #9a9a9a;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    z-index: 999;
}

.controls_on {
    height: 200px;
    display: flex;
}

[class^="control_"] {
    position: relative;
    width: 100%;
    height: 25%;
    font-size: 16px;
    cursor: pointer;
    color: #f3f3f3;
    line-height: 300%;
    text-shadow: 0 0 5px #ffffff;
}

[class^="control_"]:hover::after {
    content: "";
    position: absolute;
    left: 50%;
    padding: 0 5px;
    width: 60px;
    height: 20px;
    transform: translate(-50%, -50%);
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #414141;
    background-color: rgba(255, 255, 255, 0.597);
    border-radius: 3px;
    animation: control_hover 1.5s forwards;
}
[class^="control_"]::before {
    content: "";
    position: absolute;
    top: 70%;
    left: 25%;
    display: block;
    width: 0%;
    height: 1px;
    background-color: #ffffff;
    transition: .3s;
}
[class^="control_"]:hover::before {
    transition: 1.5s;
    width: 50%;
}

@keyframes control_hover {
    0% {
        top: 50%;
        opacity: 0;
    }

    80% {
        top: 50%;
        opacity: 0;
    }

    100% {
        top: 0%;
        opacity: 1;
    }
}

.control_dark_mode:hover::after {
    content: "切换背景";
}

.control_rank:hover::after {
    content: "排行榜";
}

.control_back:hover::after {
    content: "返回";
}

.control_exit:hover::after {
    content: "难度选择";
}

[class$="_off"] {
    opacity: 0.8;
    color: #2c2c2c;
    text-shadow: none;
}



/* 排行榜 */
.rank_box {
    position: fixed;
    top: 20vh;
    left: calc(50% - 150px);
    width: 300px;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-size: cover;
    border-radius: 12px;
    border: 5px solid rgba(246, 43, 43, 0.866);
    background-color: rgba(255, 255, 255, 0.808);
    box-shadow: 0 0 10px #999;
    transition: .3s;
    z-index: 2;
}

.rank_box::backdrop {
    filter: blur(5px);
}

.rank_title {
    position: relative;
    top: -1px;
    width: 101%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(to bottom right, rgb(255, 142, 55), rgb(245, 0, 0));
    border-radius: 6px 6px 0 0;
    letter-spacing: 5px;
}

.rank_list {
    width: 100%;
    height: 350px;
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.rank_list::-webkit-scrollbar {
    width: 3px;
}

.rank_item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    position: relative;
    margin: 5px 10px;
    padding: 5px 0;
    width: calc(100% - 20px);
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
    color: white;
    background-image: linear-gradient(to bottom right, rgba(255, 142, 55, 0.627), rgba(245, 0, 0, 0.627));
    transition: .2s;
}

.rank_item:hover {
    transition: .2s;
    box-shadow: 0px 1px 5px rgb(173, 173, 173);
    cursor: pointer;
}
.rank_item:hover .rank_img_img {
    transition: .3s;
    transform: scale(1.2);
    filter: brightness(1.2);
}

.rank_top {
    width: 100%;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
}

.rank_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.rank_img_img {
    margin-top: -15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    transition: .3s;
}

.rank_name {
    width: 40%;
    line-height: 20px;
    font-size: 12px;
}

.rank_score {
    width: 25%;
    text-align: center;
    font-size: 162x;
}


/* 模拟弹窗 */
.alert {
    position: absolute;
    top: 20px;
    left: calc(50% - 150px);
    width: 300px;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 0.25rem;
    animation: slideDown 1s forwards, slideUp 1s 4s forwards;
    z-index: 1000;
}

@keyframes slideDown {
    from {
        top: -100%;
    }

    to {
        top: 20px;
    }
}

@keyframes slideUp {
    from {
        top: 20px;
    }

    to {
        top: -100%;
    }
}


.alert-success {
    color: #48de6b;
    background-color: #ffffff;
}

.alert-danger {
    color: #ff0019;
    background-color: #ffffff;
}

.alert-info {
    color: #0059f4;
    background-color: #ffffff;
}


/* 分数 */
.mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-indent: 1em;
    color: hsl(189, 68%, 40%);
    background-color: rgba(120, 224, 255, 0.277);
    border-radius: 8px 8px 0 0;
    transition: .3s;
    z-index: 2;
}

.mark_change {
    display: inline-block;
    position: relative;
    line-height: 40px;
    font-size: 20px;
    animation: markchange 1.5s ease-out forwards;
}

@keyframes markchange {
    0% {
        opacity: 0;
        left: 40px;
    }

    70% {
        opacity: 1;
        left: 90px;
        top: 0;
    }

    100% {
        opacity: 0;
        left: 90px;
        top: -50px;
    }
}



/* 难度切换 */
.exit_box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 200px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(217deg, rgb(255, 96, 215), rgba(249, 0, 0, 0) 70%)
    , linear-gradient(336deg, rgb(94, 191, 255), rgba(43, 220, 255, 0) 80%);
    box-shadow: 0 0 10px #999;
    border-radius: 5px;
    z-index: 999;
}

.exit_title {
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}

.exit_list {
    list-style: none;
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.exit_item {
    width: 75%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: .3s;
}
.exit_item:hover {
    transition: .3s;
    color: #2c2c2c;
}

.exit_item {
    --value1-color: #96ffa6;
    --value2-color: #eeff8e;
    --value3-color: #ff7575;
    --value4-color: #665bff;
}

[data-value='1']:hover {
    background-color: var(--value1-color);
}

[data-value='2']:hover {
    background-color: var(--value2-color);
}

[data-value='3']:hover {
    background-color: var(--value3-color);
}

[data-value='4']:hover {
    background-color: var(--value4-color);
}