* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    transition: .3s;
}

body {
    min-height: 100vh;
}

div {
    padding: 5px;
}

span,
i,
a {
    display: block;
}

div {
    position: relative;
}

.header {
    margin: 5vmin;
    width: auto;
    height: auto;
    min-height: 320px;
}

.header h2 {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 20%;
    color: #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.header p {
    margin: 5px;
    width: 100%;
}

.header [class^=item] {
    margin: 2vmin;
    width: 300px;
    height: 300px;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 5px;
    cursor: pointer;
}

.header [class^=xitem2] {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 20%;
}

.header [class^=xitem2] {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 90%;
    height: 65%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-self: center;

    .xxitem1 {
        font-size: 20px;
    }

    .xxitem2 {
        font-size: 12px;
    }
    .xxitem3 {
        width: 80%;
        height: 40%;
        padding: 1%;
        border: 1px solid rgb(215, 215, 215);
        border-radius: 3px;
    }
}

.header button {
    margin: auto;
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgb(0, 255, 76);
    border-radius: 3px;
    box-shadow: 0 0 10px rgb(63, 63, 63);
    cursor: inherit;
}

.header button:hover {
    box-shadow: 0 0 10px rgb(164, 164, 164);
    background-color: rgb(0, 200, 50);
}
.xxitem3:hover {
    transform: scale(1.1);
}
.header ul{
    list-style: none;
}
ul.xxitem2{
    width: 100%;
    height: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    li {
        width: 100%;
        height: calc(100% / 3);
        padding: 0 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 16px;
        span{
            color: #ccc;
            border-bottom: 1px solid #ccc;
        }
        span:hover{
            cursor: pointer;
            color: #000;
        }
    }
}